@page "/goodreceptpoform"
@inject IDialogService dialogService
@inherits MvvmComponentBase<GoodReceptPoViewModel>
@rendermode InteractiveWebAssembly
<PageTitle>Counter</PageTitle>

<FluentLayout Style="margin-top: 0px;">

    <FluentHeader Style="background-color: transparent;padding: 0px;z-index: 0;">
        <FluentBreadcrumb>
            <FluentBreadcrumbItem>
                Good @stringDisplay PO
            </FluentBreadcrumbItem>
        </FluentBreadcrumb>
        <FluentSpacer />
        <FluentButton IconEnd="@(new Icons.Filled.Size24.Search())">
            Search
        </FluentButton>
        &nbsp;&nbsp;
        <FluentButton IconEnd="@(new Icons.Filled.Size24.Save())">
            Save
        </FluentButton>
        &nbsp;&nbsp;
        <FluentButton IconEnd="@(new Icons.Filled.Size24.PrintAdd())">
            Save Print
        </FluentButton>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent Class="body-content" Style="height:90% !important;">
            <div class="content">
                <FluentGrid Spacing="2" OnBreakpointEnter="@OnBreakpointEnterHandler" AdaptiveRendering="true">
                    <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                        <FluentSelect Width="100%"
                                      TOption="Series"
                                      Required Label="Series" 
                                      Items="ViewModel.Series"
                                      OptionText="@(i=> i.SeriesName)"
                                      OptionValue="@(i=>i.Code)"
                                      SelectedOption="@ViewModel.Series.FirstOrDefault()"
                                      @bind-Value="series" />
                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                        <FluentTextField Value="@series" Label="Document Number" style="width: 100%;" ReadOnly></FluentTextField>
                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                        <FluentDatePicker Label="DocDate" style="width: 100%;" />
                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                        <FluentDatePicker Label="TaxDate" style="width: 100%;" />
                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="4" lg="6" xl="6">
                        <FluentAutocomplete Required 
                                            TOption="Vendors" 
                                            Width="100%"
                                            Placeholder="Customer"
                                            OnOptionsSearch="OnSearch"
                                            MaximumOptionsSearch="1"
                                            Label="Customer"
                                            Virtualize="true"
                                            Items="ViewModel.Vendors"
                                            MaximumSelectedOptions="1"
                                            OptionText="@(item => $"{item.VendorCode} - {item.VendorName}")"
                                            @bind-SelectedOptions="@selectedVendor" />

                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                        <FluentSelect Width="100%"
                                      TOption="ContactPersons"
                                      Required
                                      Label="Contact"
                                      Items="ViewModel.ContactPeople.Where(x=> x.CardCode==selectedVendor.FirstOrDefault()?.VendorCode)"
                                      OptionText="@(i=> i.ContactName)"
                                      OptionValue="@(i=>i.ContactName)"
                                      SelectedOption="ViewModel.ContactPeople.Where(x=> x.CardCode==selectedVendor.FirstOrDefault()?.VendorCode).FirstOrDefault()"
                                      @bind-Value="ViewModel.GoodReceiptPOForm.ContactPersonCode" />
                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                        <FluentTextField Label="Ref Inv" style="width: 100%;"></FluentTextField>
                    </FluentGridItem>
                    <FluentGridItem xs="12" sm="12" lg="12" xl="12" Justify="JustifyContent.FlexEnd">
                        <FluentButton IconEnd="@(new Icons.Filled.Size24.Add())" OnClick="OpenAsync">
                            Add Line
                        </FluentButton>
                    </FluentGridItem>
                    <FluentGridItem xs="12">
                        <div class="grid" style="width: 100%; overflow:auto;">
                            <FluentDataGrid TGridItem="string" ResizableColumns="true"
                                            GridTemplateColumns="0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr" Style=@dataGrid>
                                <PropertyColumn Title="No." Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="ItemCode" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="ItemName" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="Qty" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="Price" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="VatCode" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="Warehouse" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                                <PropertyColumn Title="Manage Item" Property="@(c => c)" Sortable="true" Align="Align.Start" Tooltip="true"
                                                TooltipText="@(c => "That is x GOLD!!")" />
                            </FluentDataGrid>
                        </div>
                    </FluentGridItem>
                </FluentGrid>
            </div>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>