@rendermode InteractiveAuto

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink title="Home" Href="/home" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink title="Good Receipt PO" Href="goodreceptpoform" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Good Receipt PO</FluentNavLink>
            <FluentNavLink title="Delivery Order" Href="deliveryorder" Icon="@(new Icons.Regular.Size20.Receipt())" IconColor="Color.Accent">Delivery Order</FluentNavLink>
            <FluentNavLink title="Issue For Production" Href="issueforproduction" Icon="@(new Icons.Filled.Size20.Production())" IconColor="Color.Accent">Issue For Production</FluentNavLink>
            @*<FluentNavLink title="Return Component" Href="returncomponent" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Return Component</FluentNavLink>
            <FluentNavLink title="Receipt From Production" Href="receiptfromproduction" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Receipt From Production</FluentNavLink>
            <FluentNavLink title="Production Process" Href="productionprocess" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Production Process</FluentNavLink>*@
            @*<FluentNavLink title="Return" Href="return" Icon="@(new Icons.Regular.Size20.Receipt())" IconColor="Color.Accent">Return</FluentNavLink>
            <FluentNavLink title="A/R Credit Memo" Href="arcreditmemo" Icon="@(new Icons.Regular.Size20.Receipt())" IconColor="Color.Accent">A/R Credit Memo</FluentNavLink>
            <FluentNavLink title="Inventory Transfer" Href="inventorytransfer" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Inventory Transfer</FluentNavLink>
            <FluentNavLink title="Inventory Counting" Href="inventorycounting" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Inventory Counting</FluentNavLink>*@
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded;
}
